@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.container{
  max-width: 2200px;
  overflow: hidden;
  margin: auto;
  padding: 0 2rem;
}
.bg-primary{
  background-color: #93cb52;
  color: white;
  
}
input[placeholder],
textarea[placeholder]{
  text-align: center;
}
body{
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}
.text-center{
  text-align:center;
}

a{
  text-decoration: none;
}
p{
  margin:0.75rem 0;
}
.text-primary{
  color: #93cb52;
}
.text-secondary{
  color: #010004;
}
#navbar{
  
  position: sticky;
  top: 0;
  background: #333;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1;
  
}
#navbar ul  {
  display: flex;
  align-items: center;
  list-style: none;
  
}
#navbar ul li a{
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover{
  background-color:#93cb52 ;
  border-radius: 3px;

}
#showcase{
  
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
}
#showcase .showcase-content{
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  position: absolute;
  top:65px;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,0.4);
}
.py-1{
  padding: 1.5rem 0;
}
.py-0.5{
  padding: 0.0rem 0;
}
.py-2{
  padding: 2rem 0;
}
.py-3{
  padding: 3rem 0;
}
.pxy-1{
  padding: 1.5rem;
}
.pxy-2{
  padding: 2rem;
}
.pxy-3{
  padding: 3rem;
}
.bg-dark{
  background-color: #333;
  color: #f4f4f4;
}

.m-heading{
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.l-heading{
  font-size: 4rem;
  marl-gin-bottom: 0.75rem;
  line-height: 1.1;
}
.ml-heading{
  font-size: 3rem;
  marl-gin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-font{
  font-size: 1.4rem;
}
.list{
  list-style: none;
}
.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.btn{
  color: white;
  background-color: #93cb52;
  padding: 0.5rem 2rem ;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  color:white ;
  background-color:#7ab436 ;
}
.btn-dark{
  background-color: #333;
  color:#fff;
}
.items{
  display: flex;
}
.item{
  border-right: #333 dotted 1px;
  flex: 1;
  text-align: center;
}
.item:last-child{
  border-right:none ;
}
.item i{
  
  background-color: #93cb52;
  padding: 0.75rem 0.75rem;
  border-radius: 50%;
}
#who{
  display: flex;
}
#who div{
  flex:1;
}
#who .who-img{
  background: url('../img/people.jpg')no-repeat center center/cover;
}
#who h3{
  margin-bottom: 0.5rem;
}
#who ul li{
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border-bottom: #4c4c4c solid 0.1px;
}
#clients .items img{
  display: block;
  margin: auto;
  width: 60%;
}
#clients{
  background-color: #4a4b46	;
}
.b-text{
  color: #333;
}
.input-1{
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.pad-2{
  padding:0.6rem;
} 
.contact textarea{
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 300px;
}
.contact #cbtn{
  padding: 1rem 0.5rem;
  margin-left: 4px;
}
.contact #cbtn input{
  
  font-size: 1.3rem;
  padding: 1rem 2rem;
}
