:root{
  --page1-color:steelblue;
  --page2-color:brown;
  --page3-color:teal;
  --page4-color:slateblue;
  --animate-speed-1:3s;
  --animate-speed-2:3s;
  --color-primary:coral;
  
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color:white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#page-1{background-color: var(--page1-color);}
#page-2{background-color: var(--page2-color);}
#page-3{background-color: var(--page4-color);}
#page-4{background-color: var(--page4-color);}
.color-primary{
  color: var(--color-primary);
}
.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 4rem;
}
.page h1{
  margin-bottom: 10px;
  font-size: 4rem;
}
.page p{
  font-size: 1.4rem;
}
.btn{
  margin: 10px 10px;
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: white;
  color:#333;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.25s ease-in-out;
}

.btn:hover
{
  background-color:#333 ;
  color: white;
  
}
.btn-dark{
  background-color:white ;
  color:blueviolet;
}
.btn-dark:hover{
  background-color:#F40009;
  color:black;
}
#page-1 h1{
  transform: translatey(-1200px);
  animation: heading-animation var(--animate-speed-1) ease-in-out forwards ;
}
@keyframes heading-animation{
  to{
    transform: translate(0px);
  }
}
#page-1 p{
  transform: translatex(-2000px);
  animation: paragraph-animation var(--animate-speed-2) ease-in-out forwards 1.5s;
}
@keyframes paragraph-animation {
  to{
    transform: translatex(0px);
  }
}